<footer>
   <span class="socials">
      <a href="mailto:idode.kerobo@gmail.com"><i class="far fa-envelope"></i></a>
      <a href="https://www.instagram.com/renaissancelife/"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/idode_k"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/idodekerobo"><i class="fab fa-github"></i></a>
      <a href="https://www.indiehackers.com/idodekerobo"><i class="fas" style="font-family:Arial, Helvetica, sans-serif">IH</i></a>
      <a href="https://www.linkedin.com/in/idodekerobo"><i class="fab fa-linkedin-in"></i></a>
   </span>
   <span id="copyright">Idode Kerobo &copy; 2020</span>
</footer>