<nav class="side-nav">
   <ul class="nav-wrapper-ul">
      <li><a href="/" class="nav-links">home</a></li>
      <li><a href="/about" class="nav-links">about</a></li>
      <li><a href="/work" class="nav-links">work</a></li>
      <li><a href="/thoughts" class="nav-links">thoughts</a></li>
      <li><a href="/contact" class="nav-links">contact</a></li>
      <li><a href="/afe-mission" class="nav-links">afe's mission</a></li>
   </ul>
</nav>