<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="../public/img/favicon.png">
   <title>about | idode kerobo</title>

   <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap" rel="stylesheet">

   <!-- FONT AWESOME -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
   <!-- STYLE SHEET -->
   <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
   <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
   <div class="page-wrapper">
      <%- include("partials/nav.ejs") %>

      <main>
         <h2>about.</h2>
         <br>
         <p>i'm a thinker, product manager, and self-taught web and mobile developer.<br>more importantly, i'm a son,
            brother, and friend. currently, i'm building a couple <a href="/work">things</a>: <strong><a class="afe-about" style="color:olive; text-decoration: underline;" href="https://afeapp.io/">afe</a></strong> and <strong><a href="https://www.rhemi.io/" style="color:olive; text-decoration: underline;">rhemi</a></strong>.</p>
         <p>i'm interested in tech, entrepreneurship, building in africa and minority communities, societies,
            music/media, sports, and finance/vc.<br>well really a whole bunch of other shit too, but those are the main
            things.</p>
         <p>in my past life, i was an athlete. in my current life, i'm a washed up athlete.</p>
      </main>

      <%- include("partials/footer.ejs") %>
   </div>
</body>

</html>