<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="../public/img/favicon.png">
   <title>afe privacy policy</title>

   <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600&display=swap" rel="stylesheet">

   <!-- FONT AWESOME -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
   <!-- STYLE SHEET -->
   <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
   <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
   <div class="page-wrapper">
      <%- include("partials/nav.ejs") %>

         <main>
            <strong id="afe-mission-header">afe's mission.</strong>
            <p class="afe-mission-wrapper">
               the ultimate goal of afe is to empower minority communities to acquire financial independence.
               <br> <br>
               afe is my shot at taking steps towards that goal. with a focus on brick and mortar locations in your city, you can find and support minority-owned businesses (starting with black-owned).
               <br> <br>
               i view afe as a fluid project. where the mediums and methods can change, but <span class="afe-tag-line">the mission remains the same</span>.
               <br><br>
               <!-- <strong>afe is here to help you vote with your dollars.</strong> -->
            </p>
         </main>

         <%- include("partials/footer.ejs") %>
   </div>
</body>

</html>