<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="../public/img/favicon.png">
   <title>work | idode kerobo</title>

   <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap" rel="stylesheet">

   <!-- FONT AWESOME -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
   <!-- STYLE SHEET -->
   <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
   <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
   <div class="page-wrapper">
      <%- include("partials/nav.ejs") %>

      <main>
         <h2>work.</h2>
         <br>
         
         <h3><a href="https://www.drawww.xyz/" style="color:olive; text-decoration: underline;">drawww.</a></h3>
         <p style="margin: 0; align-self: center;" >solo founder</p>
         <br>
         <h4>( <a href="https://twitter.com/idode_k/status/1504915677311901708?s=21" style="color:olive; text-decoration: underline;">what is drawww?</a> )</h4>
         <p>
            drawww is a platform that provides a new way for people to buy and sell sneakers/clothes/etc on the internet... and hopefully push this fucked up game in the right direction.
            <br>
            <br>
            we are not yet open to sellers, but you can <a href="https://www.drawww.xyz/signup">make an account</a> and join the waitlist.
         </p>
         <br>

         <h3><a href="https://www.releaf.africa/" style="color:olive; text-decoration: underline;">releaf.</a></h3>
         <p style="margin: 0; align-self: center;" >mobile engineer/product</p>
         <p>
            releaf is a nigeria-based startup focusing industrialized food processing with a goal to scaling africa's agricultural sector.
            <br>
            <br>
            as an engineer, i built the initial version of the <a style="color:olive; text-decoration: underline;" href="https://www.releaf.africa/sourcing-and-logistics-tool">sourcing and logistics mobile app</a>. as a product manager, i partnered with design and engineering on the direction of their <a style="color:olive; text-decoration: underline;" href="https://www.releaf.africa/site">geospatial mapping platform</a>.
            <br>
            they are a great team focused on a great mission!
         </p>
         
         <br>

         <h3><a href="https://afeapp.io/" style="color:olive; text-decoration: underline;">afe.</a></h3>
         <p style="margin: 0; align-self: center;" >solo founder</p>
         <br>
         <h4>( <a href="/afe-mission" style="color:olive; text-decoration: underline;">afe's mission</a> )</h4>
         <p>
            pronunciation: <em>(ah-fay)</em> - language: okpella - meaning: community/family
            <br>
            <br>
            afe is a mobile-first platform to help consumers find black (and other minority-owned) businesses.
            <br>
            <br>
            the app is currently live on the ios app store and in select cities! <a style="color:olive; text-decoration: underline;" href="https://apps.apple.com/us/app/afe-minority-owned-businesses/id1528910503">go get that!</a>
         </p>
         
         <br>
         
         <h3><a href="https://www.rhemi.io/" style="color:olive; text-decoration: underline;">rhemi.</a></h3>
         <p style="margin: 0; align-self: center;" >solo founder</p>
         <p>
            pronunciation: <em>(ray-me)</em> - language: okpella - meaning: to eat
            <br>
            <br>
            rhemi was an online ordering SaaS product for small and micro-restaurants/caterers.
            <br>
            rhemi : doordash :: shopify : amazon.
            <br>
            <br>
            i built rhemi and was able to land one customer (shouts out to ck's in ahwatukee, arizona!!) but decided to shut it down.
            <br>
         </p>

         <br>

         <h3>my day job.</h3>
         <p>for my "9-5" i work as a product manager at facebook (which i recently joined via their rpm program). previously, i spent a few years as a finance and corporate strategy analyst at intel.</p>
      </main>

      <%- include("partials/footer.ejs") %>
   </div>
</body>

</html>