<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="icon" href="../public/img/favicon.png">
   <title>work | idode kerobo</title>

   <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap" rel="stylesheet">

   <!-- FONT AWESOME -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
   <!-- STYLE SHEET -->
   <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
   <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
   <div class="page-wrapper">
      <%- include("partials/nav.ejs") %>

      <main>
         <h2>work.</h2>
         
         <br>
         
         <h3><a href="https://afeapp.io/" style="color:olive; text-decoration: underline;">afe.</a></h3>
         <p>
            pronunciation: <em>(ah-fay)</em> - language: okpella - meaning: community/family
            <br>
            <br>
            afe is a mobile-first platform to help consumers find black (and other minority-owned) businesses. i'm building the app with react native and firebase.
            <br>
            the app is currently in alpha on iOS. if you'd like to use it, <a href="/contact">contact me</a> for the test flight link.</p>
         
         <br>
         
         <h3><a href="#" style="color:olive; text-decoration: underline;">rhemi.</a></h3>
         <p>
            pronunciation: <em>(ray-me)</em> - language: okpella - meaning: to eat
            <br>
            <br>
            rhemi is an online ordering SaaS product for small and micro-restaurants/caterers. <br> rhemi : doordash :: shopify : amazon. <br> i'm building the app with node.js on the server side and react.js/react native on the front end.
            <br>
            currently prepping for pre-launch with a small set of customers. if you own a restaurant, cater, or sell plates and would like to try it, please <a href="/contact">contact me</a>.
         </p>

         <br>

         <h3><a href="https://www.intel.com/content/www/us/en/homepage.html">my day job.</a></h3>
         <p>for my "9-5" i work as a finance and corporate strategy analyst at intel.</p>
      </main>

      <%- include("partials/footer.ejs") %>
   </div>
</body>

</html>