<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>work | idode kerobo</title>

   <!-- FONTS -->
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap" rel="stylesheet">

   <!-- FONT AWESOME -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
      integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
   <!-- STYLE SHEET -->
   <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
   <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
   <div class="page-wrapper">
      <%- include("partials/nav.ejs") %>

      <main>
         <h2>work.</h2>
         
         <br>
         
         <h3><a href="https://afeapp.io/">afe.</a></h3>
         <p>
            pronunciation: (ah-fay) - language: okpella - meaning: community/family
            <br>
            <br>
            afe is a mobile-first platform to help consumers find black (and other minority-owned) businesses built with react native and firebase.
            <br>
            the app is currently in beta on iOS. if you'd like to use it, contact me for the test flight link.</p>
         
         <br>
         
         <h3><a href="#">'working title'.</a></h3>
         <p>'working title' is a comprehensive online ordering SaaS product for small restaurants and micro-restaurants/caterers built with node.js on the server side and react.js/react native on the front end.
            <br> <br>
            currently prepping for pre-launch with a small set of customers. if you own a restaurants, sell plates, or cater and would like to try it, please contact me.
         </p>

         <br>

         <h3><a href="https://www.intel.com/content/www/us/en/homepage.html">my day job.</a></h3>
         <p>for my "9-5" i work as a finance and corporate strategy analyst at intel.</p>
      </main>

      <%- include("partials/footer.ejs") %>
   </div>
</body>

</html>