/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* ENTIRE PAGE/CORE CSS */
html {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}
* {
   margin: 0;
   padding: 0;
   /* font-family: Cambria, Georgia, Times, 'Times New Roman', serif; */
   /* font-family: Arial, Helvetica, sans-serif; */
   font-family: 'Raleway', sans-serif;
}
body {
   margin: 0;
   background-color: #fbfbfb;
}
.page-wrapper {
   width: 100vw;
   height: 100vh;
   display: -ms-grid;
   display: grid;
   justify-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   grid-auto-columns: 1fr;
   grid-template-areas: 
      '.    .     .     .     nav'
      '.    main  main  main  nav'
      '.    main  main  main  . '
      '.    main  main  main  . '
      '.    foot  foot  foot  . ';
}
.side-nav {
   -ms-grid-row: 1;
   -ms-grid-row-span: 2;
   -ms-grid-column: 5;
   grid-area: nav;
}
main {
   -ms-grid-row: 2;
   -ms-grid-row-span: 3;
   -ms-grid-column: 2;
   -ms-grid-column-span: 3;
   grid-area: main;
}
footer {
   -ms-grid-row: 5;
   -ms-grid-column: 2;
   -ms-grid-column-span: 3;
   grid-area: foot;
}

/* NAVIGATION */
.side-nav {
   width: 100%;
   height: 100%;
   margin-top: 15%;
   margin-right: 15%;
}
.side-nav ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: start;
       -ms-flex-pack: start;
           justify-content: flex-start;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
}
.nav-wrapper-ul li {
   list-style: none;
   margin: 3px 0;
}
a {
   text-decoration: none;
   color: black;
}
a:hover {
   color: olive;
   text-decoration: underline;
}

/* MAIN */
main {
   height: 100%;
   width: 100%;
   /* border: black dashed 1px; */
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
main p {
   margin: 10px 0;
   -ms-flex-item-align: start;
       align-self: flex-start;
   text-align: left;
   line-height: 1.5;
}
.afe-tag-line {
   text-decoration: underline;
   font-weight: 600;
}
.ig-page {
   background-color: #105927;
   /* padding: 40px; */
}
#afe-mission-header {
   color: white;
}
.afe-mission-wrapper {
   color:white;
}
/* FOOTER */
footer {
   margin: 40px 0;
   text-align: center;
}
.socials a {
   margin: 0 15px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 800px) {
   footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
   }
   footer span {
      margin-bottom: 7px;
   }
}
@media (max-width: 400px) {
   .page-wrapper {
      width: 100%;
      height: 100%;
      row-gap: 50px;
      grid-template-areas: 
         'nav'
         'main'
         'foot';
   }
   main {
      width: 85%;
   }
}
@media (max-width: 350px) {
   main h1 {
      font-size: 1.5em;
   }
}